/* SET GLOBAL VARIABLES TO NULL  as per DART SASS 2.0 SEPCS */
$primary-color: null;
$secondary-color: null;
$success-color: null;
$danger-color: null;
$white-color: null;
$lightBlue-color: null;
$black-color: null;
$grey-color: null;
$faded-color: null;
$tab-border-color: null;
$light-font-color: null;
$link-blue-color: null;
$shadow1-color: null;
$link-exper-color: null;
$syb-banner-color: null;
$ash-color: null;
$ash-color1: null;
$grey-dark: null;
$grey-dark1: null;
$grey-dark2: null;
$grey-light: null;
$grey-light1: null;
$skyblue-color: null;
$green-color: null;
$grey-color-business: null;

$primary-color: hsl(49, 100%, 50%); //FFD200
$secondary-color: hsl(211, 100%, 48%); //0074f4
$success-color: hsl(127, 69%, 57%); //44dd56
$danger-color: hsl(0, 100%, 50%); //ff0000
$white-color: hsla(0, 0%, 100%, 1); //ffffff
$lightBlue-color: hsl(204, 100%, 98%); //f5fbff
$black-color: hsl(0, 0%, 0%); //000000
$grey-color: hsl(0, 0%, 29%); //494949
$grey-color1: hsl(223, 3%, 51%); //494949
$label-color: #606162;
$border-color: #caced1;
$faded-color: hsl(0, 11%, 96%); //f7f5f5
$tab-border-color: hsl(0, 0%, 0%); //000000
$light-font-color: hsl(0, 0%, 74%); //bdbdbd
$link-blue-color: hsl(226, 82%, 55%); //2f5bea
$shadow1-color: hsl(0, 1%, 71%); //b7b5b5
$link-exper-color: hsl(222, 8%, 32%); //4a4e57
$syb-banner-color: hsla(0, 0%, 0%, 0.5); //rgba(0,0,0,0.5)
$ash-color: hsl(0, 0%, 97%); //f7f7f7
$ash-color1: hsl(0, 0%, 97%); //f8f8f8
$grey-dark: hsl(0, 0%, 84%); //d6d6d6
$grey-dark1: hsl(0, 0%, 94%); //f0f0f0
$grey-dark2: hsl(0, 0%, 40%); //666
$grey-light: hsl(0, 0%, 98%); //fbfbfb
$grey-light1: hsl(0, 0%, 96%); //f6f6f6
$skyblue-color: hsl(226, 81%, 58%); //3c66ea
$green-color: hsl(159, 43%, 53%); //53bb96
$grey-color-business: hsl(0, 3%, 85%); //dbd9d9
$error-color: hsl(1, 44%, 46%); //a94442
$banner-blue: #4267e2;
$form-back-color: #e3e3e3;
$shopping-color1: #706e6e;
$shopping-color2: #f2f1f0;
$green_color1: #3eb837;
$green_color2: #29961f;
$sky-blue: #007aff;
$sky-blue1: #639bfc;
$ash-color-shopping: #efefef;
$gold-color: #fcd20a;
$payment-subtitle-color: #8a8888;
$payment-border-color: #e0e0e0;
$payment-border-color1: #eeeeee;
$payment-circle-color: #d5d0d0;
$payment-bold-color: #717171;
$payment-active-color: #418ffa;
$grey-color-bg: #f2f2f2;
$grey-color-font: #999999;
$grey-color-font1: #9a9a9a;
$grey-color-font2: #6d6969;
$exclusive-blue-color: hsl(211, 100%, 50%); //007aff
$exclusive-grey-color: hsl(206, 7%, 81%); //caced1
$breadcrumb-item-color: hsl(0, 5%, 71%); //b8b1b1
$table-head-color: hsl(0, 0%, 77%); //c4c4c4 - Lighten to 0.29 transparency
$brown-color: #3f3838;
$brown-color2: #827b7b;
$gray-shade-color: #ddd8d8;
$gray-dark: #a59c9c;
$gray-dull: #b2b2b2;
$purple-color: #846fb9;
$banner-border: #4f4466;
$grc-black: #231f20;
$grc-grey: #8f9397;
$grc-red: #fdecec;
$grc-red-dark: #e83e3e;
$grc-green: #ecf8eb;
$grc-yellow: #fcd209;

$international-form-bg:#fff;
$international-form-boxShadow:rgba(191, 191, 191, 0.25);
$international-form-boxShadow1: rgba(88, 88, 88, 0.25);
$international-form-boxShadow2:  rgb(191 191 191 / 25%);
$international-form-dropdownshadow: rgba(140, 140, 140, 0.25);
$border-red:red;
$default-black:#000000;
$default-grey:gray;
$form-input: #f0f1f3;
$form-black:#171717;
$normal-white: #ffffff;
$light-white: #fff;